name: Vercel Preview Deployment

on:
  pull_request:
    branches: develop
  push:
    branches: develop

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: create vercel.json
        run: |
          touch vercel.json
          echo '
          {
            "rewrites": [
              {
                "source": "/api/:url*",
                "destination": "${{ secrets.API_BASE_URL }}/:url*"
              }
            ],
            "routes": [{ "src": "/[^.]+", "dest": "/", "status": 200 }]
          }
          ' >> vercel.json
      - uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
